.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/upload-keystore.jks
coverage/
